@import "../layouts/variables.css";

.mobileContainer {
  padding: 0.5rem 1rem;
}

/* .GridContainer {
  display: grid;
  grid-template-columns: 1rem 1fr 1rem;
  grid-template-areas: 
    "nav nav nav"
    "crsl crsl crsl"
    ". desc ."
    "map map map"
    ". srvc ."
} */

.navContainer {
  /* grid-area: nav; */
}

.navContainer ul {
  display: flex;
  height: 12vh;
  /* justify-content: space-around; */
  align-items: center;
  align-content: center;
  line-height: 1rem;
  padding: 0;
}

.navContainer ul li {
  border: solid black 2px;
  background: #1E88E5;
  color: white;
  padding: 0;
  margin: auto;
  width: 33.333%;
  height: 100%;
  text-align: center;
  font-size: 0.7rem;
  /* flex the text */
  display: flex;
  justify-content: center;
  align-items: center;
}

.Carousel {
  /* grid-area: crsl; */
  max-width: 500px;
  margin: 1rem auto;
  direction: ltr;
}


.Description {
  display: flex;
  flex-direction: column;
  margin: 1rem auto 0;
  max-width: 768px;
}

.MapTracker {
  /* grid-area: map; */
  background: var(--secondary-color);
  height: 30vh;
  /* min-width: 400px; */
  width: 100%;
  margin: 1rem auto;

}

.MapTracker p {
  padding: 1rem;
  color: white;
}

.MapTracker .mapContainer {
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.ServiceContainer {
  /* grid-area: srvc; */
}

.ServiceContainer h3 {
  margin-top: 1rem;
}

.callMe {
  display: none;
}

.serviceTitle {
  border: solid 1px black;
  padding: 0.5rem;
  margin-bottom: 0.7rem;
}

.Services {
  background: white;
  padding: 1rem;
  margin-top: 1rem;
}

@media only screen and (min-width: 768px) {
  
  .callMe {
    display: block;
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
    text-align: center;
  }

  .checkMap {
    display: none;
  }

}

@media only screen and (min-width: 968px) {
  .gridContainer {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
      "desc carousel"
      "services map"
  }

  .MapTracker {
    grid-area: map;
    margin: 0;
    max-height: 30vh;
  }

  .Carousel {
    grid-area: carousel;
    margin-bottom: 0;
  }

  .Services {
    grid-area: services;
    margin: 0;
  }

  .Description {
    grid-area: desc;
  }
}