.HeaderContainer {
  text-align: center;
  /* background: rebeccapurple; */
  padding: 0.5rem 0.5rem 0 0.5rem;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* grid stuff */
  /* display: grid;
  grid-template-columns: 2.5rem 1fr 2.5rem;
  justify-items: center;
  align-items: start;
  grid-template-areas: 
    "hmbg title lang"
    ". call ." */
}

.SideBarTrigger {
  grid-area: hmbg;
  display: inline-block;
  color: #FAFAFA;
  padding: 0.5rem;
  font-size: 2rem;
}

.SelectLanguage {
  grid-area: lang;
}

.HeaderContent {
  grid-area: title;
}

.CallMeNow {
  /* grid-area: call; */
  margin-bottom: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* font-size: 1.5rem; */
}

.CrazySigns {
  display: flex;
  justify-content: space-around;
  margin-bottom: 1rem;
}


.CallMeNow p {
  margin: 0;
  color: #FAFAFA;
  font-size: 1.2rem;
}


.SiteTitle {
  margin-bottom: 0.5rem;
}

.SiteTitle h1 {
  margin: 0 0 0.1rem;
  font-size: 1.2rem;
}

.SiteTitle p {
  font-size: 0.8rem;
  margin: 0;
}

.Gili {
  font-style: italic;
}

.CallToAction {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.CallToAction>p {
  font-size: 0.8em;
  color: #FAFAFA;
  margin: 0;
}

.CallToAction>p>span {
  font-style: italic;
}

.topRowSigns {
  display: none;
  margin-top: 10px;
}

@media only screen and (min-width: 768px) {

  .HeaderContainer {
    grid-template-columns: 5rem 1fr 5em;
  }

  .CallMeNow {
    display: none;
  }

  .topRowSigns {
    display: block;
  }

  .CrazySigns {
    display: none;
  }
}
