.Phone {
  background: #4CAF50;
  border-radius: 5px;
  /* width: 30%; */
  margin: 0;
  font-family: monospace;
  direction: ltr;
  padding: 0 1rem;
}

.Phone span {
  padding: 0.5rem;
}

.Phone a {
	/*display: block;*/
	direction: ltr;
  color: black;
}